/*================================================================================
	Item Name: Ingenious Direct Selling Software User Panel Custom Style
	Author: Tymk Software
================================================================================

/* General */
.badge {
    padding: 0.45em .4em;
    font-weight: 600;
}

/* Login Page */

html body.bg-full-screen-image {
    background: url(/user-assets/images/backgrounds/bg-business-03.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Left Sidebar */
.navbar-header .navbar-brand .brand-logo {
    margin: auto;
    /*margin-left: 100%;*/
    width: 73%;
}




/* Dashboard */
.dashboard-icon {
    font-size: 8rem !important;
}

a.btn:hover {
    color: #fff !important;
}
a.btn-white:hover {
    color: inherit !important;
}

a.btn.btn-icon, button.btn.btn-icon {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    line-height: 15px;
}

.input-group-text {
    border: 0 !important;
    color: #fff !important;
    background-color: #6967ce !important;
}

.dashboard-account-card {
    overflow: hidden;
    padding: 30px;
}
.dashboard-account-card .card-header {
    padding: 0;
}
.dashboard-account-card .card-profile {
    text-align: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.dashboard-account-card .card-profile img {
    height: 110px;
    padding: 7px;
    background-color: #fff;
    z-index: 1;
    position: relative;
    box-shadow: 0 1px 15px 1px rgb(62 57 107 / 51%);
    margin-bottom: 10px;
}
.dashboard-account-card .card-header img {
    border-radius: 50%;
    margin-top: -130px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/* BootStrap 3.7 Pagination */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #6D00A7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #6D00A7;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #6D00A7;
    border-color: #6D00A7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* =============
   Print css
============= */

@media print {
    @page    {
        margin: .2cm .1cm;
    }
    *,
    *:before,enter code here
    *:after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    select {
        background: #fff !important;
    }
    .main-menu, .header-navbar, .btn-print, .content-header-title {
        display: none;
        margin: 0;
        padding: 0;
    }
    #invoice-template {
        border: 1px solid #dedede;
        padding: 4rem 2rem 2rem ;
    }
    .content {
        margin: 0 !important;
        padding-top: 0;
    }
    .content-page {
        margin-left: 0;
        margin-top: 0;
    }
    .navbar {
        display: none;
    }
    .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }
    .label {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table td,
    .table th {
        background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
}

/* Radio */
.radio,.checkbox {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0
}

.radio label,.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    min-width: 17px;
    min-height: 17px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0
}

.radio label:before,.checkbox label:before {
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #d7dcdf
}

.radio label {
    margin-bottom: 6px
}

.radio label:before {
    bottom: 2.5px;
    border-radius: 99px;
    -webkit-transition: border .3s 0s cubic-bezier(.455,.03,.215,1.33);
    transition: border .3s 0s cubic-bezier(.455,.03,.215,1.33)
}

.radio input[type=radio]:checked+label:before {
    border-width: 5px
}

.radio input[type=radio]:focus+label {
    color: #373e43
}

.radio input[type=radio]:focus+label:before {
    background-color: #eaecee
}

.radio input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0
}

.radio input[type=radio][disabled]+label {
    opacity: .65
}

.radio.radio-success input[type=radio]:checked+label:before {
    border-color: #007be8
}

.radio.radio-primary input[type=radio]:checked+label:before {
    border-color: #007be8
}

.radio.radio-info input[type=radio]:checked+label:before {
    border-color: #47525e
}

.radio.radio-warning input[type=radio]:checked+label:before {
    border-color: #fed76e
}

.radio.radio-danger input[type=radio]:checked+label:before {
    border-color: #ea2c54
}

.radio.radio-complete input[type=radio]:checked+label:before {
    border-color: #00e8ba
}

.checkbox+.checkbox,.radio+.radio {
    margin-top: -5px
}

.checkbox input[type=radio][disabled]+label:after {
    background-color: #eaecee
}

.checkbox label {
    transition: border .2s linear 0s,color .2s linear 0s
}

.checkbox label:before {
    top: 1.4px;
    border-radius: 3px;
    transition: border .2s linear 0s,color .2s linear 0s
}

.checkbox label::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 0;
    font-size: 14px;
    transition: border .2s linear 0s,color .2s linear 0s;
}

.checkbox label:after {
    border-radius: 3px
}

.checkbox input[type=checkbox] {
    opacity: 0;
    width: 5px;
    height: 5px;
}

.checkbox.checkbox-circle label:after {
    border-radius: 99px
}

.checkbox.checkbox-circle label:before {
    border-radius: 99px
}

.checkbox input[type=checkbox]:checked+label:before {
    border-width: 9px
}

.checkbox input[type=checkbox]:checked+label::after {
    font-family: 'Line Awesome Free';
    font-weight: 900;
    content: "\f00c";
    color: #fff
}

.checkbox input[type=checkbox]:focus+label {
    color: #373e43
}

.checkbox input[type=checkbox]:focus+label:before {
    background-color: #eaecee
}

.checkbox input[type=checkbox][disabled]+label {
    opacity: .65
}

.checkbox input[type=checkbox][disabled]+label:before {
    background-color: #eceff3
}

.checkbox.right label {
    margin-right: 35px;
    padding-left: 0!important
}

.checkbox.right label:before {
    right: -35px;
    left: auto
}

.checkbox.right input[type=checkbox]:checked+label {
    position: relative
}

body.rtl .checkbox label::after {
    left: -1.2px
}

.checkbox.check-success input[type=checkbox]:checked+label:before {
    border-color: #16800f
}

.checkbox.check-primary input[type=checkbox]:checked+label:before {
    border-color: #007be8
}

.checkbox.check-complete input[type=checkbox]:checked+label:before {
    border-color: #00e8ba
}

.checkbox.check-warning input[type=checkbox]:checked+label:before {
    border-color: #fed76e
}

.checkbox.check-danger input[type=checkbox]:checked+label:before {
    border-color: #ea2c54
}

.checkbox.check-info input[type=checkbox]:checked+label:before {
    border-color: #47525e
}

.checkbox.check-success input[type=checkbox]:checked+label::after,.checkbox.check-primary input[type=checkbox]:checked+label::after,.checkbox.check-complete input[type=checkbox]:checked+label::after,.checkbox.check-warning input[type=checkbox]:checked+label::after,.checkbox.check-danger input[type=checkbox]:checked+label::after,.checkbox.check-info input[type=checkbox]:checked+label::after {
    color: #fff
}


@media only screen and (max-width: 450px)  {

    .radio label {
        padding-left: 20px;
        margin-right: 0;
    }

}

.ing-spinner {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
    border-radius: 100%;
    border: 6px solid;
    border-top-color: #005a9c;
    border-bottom-color: #005a9c;
    border-left-color: rgba(0, 90, 156, .15);
    border-right-color: rgba(0, 90, 156, .15);
    animation: spinner .8s ease-in-out infinite alternate
}

@keyframes spinner {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.label-back{
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
}

/* Product & Shopping Section */
.product .card-body {
    padding: 0.8rem;
}
.product li.list-group-item {
    padding:0.5rem;
}

.product-detail li.list-group-item {
    padding:0.5rem;
}
.product-detail .zoom {
    transition: transform .2s; /* Animation */
}
.product-detail .zoom:hover {
    transform: scale(1.3);
}

.identity-card {
    border: #092549 3px solid !important;
    height: auto !important;
    width: 297px !important;
    margin: 0 auto !important;
    background-image: none !important;
    background-size: unset !important;
}

.identity-card .header {
    width: 292px;
    height: 155px;
    background: #b5dee6;
    border-bottom: 3px solid #092549!important;
    margin-left: -1px;
}

.identity-card .header .logo {
    margin: 0 auto;
    padding-top: 27px;
    text-align: center;
}

.identity-card .body {
    min-height: 400px;
}

.identity-card .body .user-image {
    width: 109px;
    height: 109px;
    margin: -50px auto;
    border-radius: 100px;
    border: solid 5px #092549!important;
}

.identity-card-content {
    margin-top: 60px;
}

.identity-card-content ul {
    list-style: none;
    margin-left: -10px;
}

.identity-card-content-footer {
    background: #092549 !important;
    color: #fff;
    padding: 2px;
    width: 292px;
    margin-left: -1px;
}

@media print {
    .identity-card .header {
        background-color: #b5dee6 !important;
    }
    .identity-card-content-footer {
        background: #092549 !important;
        color: #fff !important;
    }
}

/* CHAT PAGE */
.chat-application .app-content,
.chat-application .content-right,
.chat-application .content-wrapper,
.chat-application .content-body
{
    height: 100%;
}

.chat-application .content-wrapper
{
    padding: 0 !important;
}
.chat-application .card-body
{
    padding: 5px;
}

.chat-application .sidebar-left
{
    z-index: 9;
    border-right: 1px solid #e4e7ed;
}

.chat-application .chat-fixed-search
{
    position: fixed;
    z-index: 9;

    width: 300px;

    border-bottom: 1px solid #e4e7ed;
    background: #fff;
}

.chat-application .users-list-padding
{
    padding-top: 83px;
    padding-bottom: 60px;
}

.chat-application .chat-app-window
{
    overflow-y: scroll;
    /*height: -webkit-calc(100% - 112px);*/
    /*height:    -moz-calc(100% - 112px);*/
    /*height:         calc(100% - 112px);*/
    height: 28rem;
    padding: 10px;
    text-align: center;
    background-image: url(/user-assets/images/backgrounds/chat-bg.png);
}

.chat-application .chat-app-form
{
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    background-color: #edeef0;
}

.chat-application .chats
{
    padding: 0;
}
.chat-application .chats .chat-body
{
    display: block;
    overflow: hidden;

    margin: 10px 30px 0 0;
}
.chat-application .chats .chat-body .chat-content
{
    position: relative;

    display: block;
    float: right;
    clear: both;

    margin: 0 20px 10px 0;
    padding: 8px 15px;

    text-align: right;

    color: #fff;
    border-radius: 7px;
    background-color: #6967ce;
    -webkit-box-shadow: 0 5px 12px 0 rgba(62, 57, 107, .36);
    box-shadow: 0 5px 12px 0 rgba(62, 57, 107, .36);
}
.chat-application .chats .chat-body .chat-content:before
{
    position: absolute;
    top: 10px;
    right: -10px;

    width: 0;
    height: 0;

    content: '';

    border: 5px solid transparent;
    border-left-color: #6967ce;
}
.chat-application .chats .chat-body .chat-content + .chat-content:before
{
    border-color: transparent;
}
.chat-application .chats .chat-body .chat-content p
{
    margin: 0;
}
.chat-application .chats .chat-avatar
{
    float: right;
}
.chat-application .chats .chat-avatar .avatar
{
    width: 40px;
    margin-top: -10px;
}
.chat-application .chats .time
{
    font-size: 12px;

    margin: 40px 0;

    text-align: center;

    color: #6b6f80;
}
.chat-application .chats .chat-left .chat-avatar
{
    float: left;
}
.chat-application .chats .chat-left .chat-body
{
    margin-right: 0;
    margin-left: 30px;
}
.chat-application .chats .chat-left .chat-content
{
    float: left;

    margin: 0 0 15px 20px;

    text-align: left;

    color: #6b6f80;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 12px 0 rgba(62, 57, 107, .16);
    box-shadow: 0 7px 12px 0 rgba(62, 57, 107, .16);
}
.chat-application .chats .chat-left .chat-content + .chat-content:before
{
    border-color: transparent;
}
.chat-application .chats .chat-left .chat-content:before
{
    right: auto;
    left: -10px;

    border-right-color: #fff;
    border-left-color: transparent;
}

.chat-application .form-control-position
{
    cursor: pointer;
}
.chat-application .form-control-position.control-position-right
{
    top: 2px;
    right: 18px;

    cursor: pointer;
}

.chat-btn {
    padding: .75rem 0.5rem;
    margin-left: 0.5rem;
}

@media (max-width: 767.98px)
{
    .chat-application .chat-app-window
    {
        /*height: -webkit-calc(100% - 132px);*/
        /*height:    -moz-calc(100% - 132px);*/
        /*height:         calc(100% - 132px);*/
    }
    .chat-btn
    {
        font-size: .875rem;
        line-height: 1;
        padding: .7rem 1rem;
        border-radius: .21rem;
    }
}

.horizontal-layout.chat-application .app-content
{
    height: -webkit-calc(100% - 144px) !important;
    height:    -moz-calc(100% - 144px) !important;
    height:         calc(100% - 144px) !important;
    min-height: -webkit-calc(100% - 144px) !important;
    min-height:    -moz-calc(100% - 144px) !important;
    min-height:         calc(100% - 144px) !important;
    margin-top: 0 !important;
}
.horizontal-layout.chat-application .app-content .chat-app-window
{
    height: -webkit-calc(100% - 83px) !important;
}

/* Pace Loader */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #ff6275;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}


@media print {

    .identity-card .header {
        background-color: #b5dee6 !important;
    }
    .identity-card-content-footer {
        background: #2F9689 !important;
        color: #fff !important;
    }
    .no-print{
        display: none;
    }
}

