@media (max-width: 767px) {
    .tree-holder.table-responsive {
        border: none;
    }
}

table#levelTree {
    width: 100%;
}

#levelTree td {
    /*width: 50%;*/
    text-align: center;
    vertical-align: top;
    padding: 0;
}

#levelTree .line {  height:24px; width:2px;  }
#levelTree .top {  border-top:2px solid #00233f;  }
#levelTree .down {  background-color:#00233f; margin:0 auto  }
#levelTree .left {  border-right:2px solid #00233f; }
#levelTree .right {  border-left:2px solid #fff ; }

#levelTree .top-line-separator {
    border-top: 3px solid #00233f;
    margin: 5px 0 0;
}
#levelTree .second-line-separator {
    border-top: 3px solid #5e0869;
    width: 69%;
    margin-left: 15%;
}

#levelTree .node-cell {
    min-width: 130px;
    text-align: center;
    vertical-align: top;
    padding: 0;
}

.node > .username
{
    overflow: hidden;
    width: auto;
    color: #FFFFFF;
    background: #00233f;
    padding: 2px 10px;
    border-radius: 2px;
    display: inline-block;
}
.node > .username a {
    color: #fff;
}
.node .node_icon {
    width: 60px;
    height: 60px;
}
.node-cell > table {
    width: 100% !important;
}
.node-cell .children .node .node_icon {
    width: 50px;
    height: 50px;
}
.node-cell .children .node .username {
    padding: 1px 10px;
    font-size: 12px;
}

.popover-content {
    background-color: #00233f;
    padding: 5px 8px 0 !important;
    border-radius: 5px;
}
.popover-content table
{
    background-color: #FFF;
}
.popover.right>.arrow
{
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #713D32;
}
.popover.right>.arrow:after
{
    left: 1px;
    border-left-width: 0;
    border-right-color: #713D32;
}
.custom-table
{
    font-size: 12px;
}
.custom-table tbody tr td
{
    padding: 5px;
}

@media only screen and (max-width: 767px)
{

}

/* Twitter Typeahead */

.tt-menu {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 100%;
    font-size: 1rem;
}
.tt-suggestion {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid #dedede;
}
.tt-suggestion:last-child {
    border-bottom: 1px solid transparent;
}
.tt-suggestion:hover {
    background-color: #f5f5f5;
}
.tt-highlight {
    color: #5d1ca8;
}
.twitter-typeahead {
    width: 95%;
}
.input-group{
    flex-wrap: initial !important;
}